<a href="https://colab.research.google.com/github/siming-deng/micro_cred_winter_2022/blob/main/Unit2_Dictionary_Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Dictionary - Assignment #5

## 1.	Create a simple dictionary that stores 2 variables, for example: first and last name.

In [ ]:
names = {'first_name': 'Siming', 'last_name': 'Deng'}

## 2.	Print out those variables stored in your previous dictionary.

In [ ]:
for i in names:
  print(i, names[i])

first_name Siming
last_name Deng

## 3.	Add a message to those variables on printing: for example: “Hello, firstname lastname!”

In [ ]:
print('Hello,', names['first_name'], names['last_name'], '!')

Hello, Siming Deng !

## 4.	Create a dictionary that holds 2 key: value pairs:

a.	Look through your dictionary and print each pair,

In [ ]:
dic = {'apple': 30, 'Orange': 50}

In [ ]:
for i in dic:
  print(i, dic[i], 'units.')

apple 30 units.
Orange 50 units.

5. Create a nested dictionary containing three dictionaries – these 
dictionaries could be anything (favorite pets, travel locations, etc.)
a. Loop through the dictionaries and print a message for each

In [46]:
d = {
    'OrderID': {
                123: {'Product': 'Burger', 'Beverage':'Coke'},
                321: {'Product': 'Fries', 'Beverage': 'Orange Juice'},
                923: {'Product': 'Takoyaki', 'Beverage': 'Milk Tea'}
    },
     'Price': {'Burger': 5.99, 'Fries': 2.99, 'Coke': 1.99, 
               'Orange Juice': 1.99, 'Takoyaki': 6.99, 'Milk Tea': 5.99}
}

In [47]:
for i in d['OrderID']:
  print('Order', i, 'ordered', d['OrderID'][i]['Product'], 'and', d['OrderID'][i]['Beverage'])

Order 123 ordered Burger and Coke
Order 321 ordered Fries and Orange Juice
Order 923 ordered Takoyaki and Milk Tea

In [48]:
print('MENU')
for i in d['Price']:
  print(i, d['Price'][i])

MENU
Burger 5.99
Fries 2.99
Coke 1.99
Orange Juice 1.99
Takoyaki 6.99
Milk Tea 5.99